<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add news</title>
    <link rel="icon"
          href="https://psv4.userapi.com/c856436/u295164923/docs/d11/53c945b3c74e/logo.png?extra=9t5Eqcb53dm-Rc64VfcOw9hxWVZe6C2H1tDPgL4AjV6NBW0sXEoNFS6raT1JWApEqCxGxF0SlUya91rDa2WDza__xEOWhlk_kFV4bFuBBVOyc2r_dPTDg1OsIYq2plrRlVPAYdxkW3fNpk1Za6iQkqg"
          type="image/x-icon">

    <style type="text/css">
        .form {
            background: rgba(87, 87, 87, 0.8);;
            color: #eeeeee;
            border-radius: 10px;
            padding: 15px; /* Значения отступов */
            margin: 15px;
        }

    </style>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<h1 align="center">Add news</h1>
<div class="form">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <p>
            {{ form.text.textarea }}<br>
            {{ form.text(class="form-control") }}<br>
            {% for error in form.text.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.img_url.label }}<br>
            {{ form.img_url(class="form-control") }}<br>
            {% for error in form.img_url.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-outline-light") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}
</body>
</html>