<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="icon"
          href="https://drive.google.com/file/d/18HueSVnOTwTXBYDJlqeZgHCFTfZJjAYx/view?usp=sharing"
          type="image/png">
    <title>Register</title>
    <style type="text/css">
        .form {
            background: rgba(87, 87, 87, 0.8);;
            color: #eeeeee;
            border-radius: 10px;
            padding: 15px; /* Значения отступов */
            margin: 15px;
        }
    </style>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<h1 align="center">{{current_user.name}} {{current_user.surname}}</h1>
<div class="form">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", autocomplete="off", type="email") }}<br>
            {% for error in form.email.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>

        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(autocomplete="off", class="form-control") }}<br>
            {% for error in form.surname.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(autocomplete="off", class="form-control") }}<br>
            {% for error in form.name.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.phone.label }}<br>
            {{ form.phone(autocomplete="off", class="form-control") }}<br>
            {% for error in form.phone.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.position.label }}<br>
            {{ form.position(autocomplete="off", class="form-control") }}<br>
            {% for error in form.position.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.school_year.label }}<br>
            {{ form.school_year(autocomplete="off", class="form-control") }}<br>
            {% for error in form.school_year.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.liter.label }}<br>
            {{ form.liter(autocomplete="off", class="form-control") }}<br>
            {% for error in form.liter.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.profile.label }}<br>
            {{ form.profile(autocomplete="off", class="form-control") }}<br>
            {% for error in form.profile.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.photo_url.label }}<br>
            {{ form.photo_url(autocomplete="off", class="form-control") }}<br>
            {% for error in form.photo_url.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}

        <p>{{ form.submit(type="submit", class="btn btn-outline-light") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}
</body>
</html>